<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title><%={title}%></title>
<link rel="stylesheet" href="resources/style.css">
</head>
<body>
  <div class="wrapper">
    <div class="element">
      <img src="resources/logo2.png" class="logo">
    </div>
  </div>
