<% include partials/head.ejs %>
<div class="wrapper">
<h1>Fill The Form</h1>
</div>

<div class="wrapper">
<div class="element"><a href="/"> go back to home </a></div>
<div class="element"><a href="/view"> View All </a></div>
</div>

<div class="wrapper">
<form method="GET" action="/create/execute/" id="createForm">
  <div class="element"><input id="sname"  name="SongName" type="text" placeholder="Name"></div>
  <div class="element"><textarea id="lyrics" name="Lyrics" placeholder="Lyrics"></textarea></div>
  <div class="element"><input id="artist"  name="ArtistName" type="text" placeholder="Artist Name"></div>
  <div class="element"><input id="album"  name="AlbumName" type="text" placeholder="Album Name"></div>
  <div class="element"><input id="category" name="Category" type="text" placeholder="Category"></div>
  <div class="element"><input type="submit">
</form>
</div>
</body>
</html>
