<% include partials/head.ejs %>
<% var objEntity= JSON.parse(entity) %>
<div class="wrapper">
<div class="element">
<%= objEntity.SongName %>
</div>
<div class="element">
<%= objEntity.ArtistName %>
</div>
<div class="element">
<%= objEntity.AlbumName %>
</div>
<div class="element">
<%= objEntity.Category %>
</div>
<div class="element">
<%= objEntity.Lyrics %>
</div>
</div>

<div class="wrapper">
<div class="element"><a href="/create"> Another one </a></div>
<div class="element"><a href="/">back to home </a></div>
<div class="element"><a href="/view">view all </a></div>
</div>
