<% include partials/head.ejs %>
<div class="wrapper"><h1>This is home page</h1></div>
<div class="wrapper">
<div class="element"><a href="/create">Create a new note</a></div>
<div class="element"><a href="/view">View all</a></div>
</div>
</body>
</html>
