<% include partials/head.ejs %>
<div class="wrapper"><h1>This is View all page </h1></div>
<% var viewObject= JSON.parse(doc);%>
<% console.log(viewObject[0]['date']) %>
<div class="wrapper">
<% for (x in viewObject){ %>
<a href="/view/viewIndividial/<%= viewObject[x]['_id']%>"><div class="element box"><%= viewObject[x]['entityname']%></a>
<p><%= viewObject[x]['date']%></p></div>
<% } %>
</div>
<div class="wrapper">
<div class="element"><a href="/">Go back to home </a></div>
<div class="element"><a href="/create">Create a new note </a></div>
</div>
