<% include partials/head.ejs %>
<div class="wrapper">
<div class="element"><%= doc['entityname'] %></div>
<div class="element"><%= doc['entitybody'] %></div>
<div class="element"><%= doc['date'] %></div>
<a href="/action/edit/<%= doc['id'] %>">edit this </a>
<a href="/action/delete/<%= doc['id'] %>"> delete this </a>
</div>
<div class="wrapper">
<div class="element"><a href="/"> Back to the home </a></div>
<div class="element"><a href="/view"> View All </a></div>
<div class="element"><a href="/create"> Create New </a></div>
</div>
