a{
  color:inherit;
  text-transform: uppercase;
}
a:hover{
  text-decoration: none;
}
body{
display: block;
margin:auto;
text-align: center;
background:white;
color:black;
}
.wrapper{
  display: block;
  margin:15px;
  padding:5px;
  /*border-bottom:2px solid yellow;*/
}
.logo{
  width:200px;
  height: 200px;
}
.element{
  margin:10px;
  padding:7px;
}
#createForm input{
  width:500px;
  height:50px;
  padding-left:15px;
}
#createForm textarea{
  width:500px;
  height:500px;
  padding-left:15px;
  padding-top:15px;
}
#createForm input[type='submit']{
  width:520px;
  background: black;
  color:white;
  font-size: 16px;
  border:0px;
  font-family: sans-serif;
  transition: 0.7s;
}
#createForm input[type='submit']:hover{
  background:#263238;
  transition: 0.7s;
}
.box{
  display: block;
  margin:auto;
  margin-top:15px;
  width: 200px;
  border:2px solid #353b48;
  background: #2f3640;
  color:#f5f6fa;
  padding:50px;

}
@media only screen and (max-width: 700px) {
  .width-50pcent{
    width: 100%;
  }
}
